/* topbar */
#topbar{
  text-align: center;    
  color: darkslateblue;

}

/* 5 Day Forecast */
.weatherDay
{
display: inline-block;
padding: 5px;
margin: 5px;
width: auto;
text-align: center;
background-color: #9ebde8;
color: #ffffff;
}

/* Headers of Sections */
.card-header
{
background-color: darkslateblue;
color: #ffffff;


}